/* Reset */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* O : root é uma forma de escrever variáveis no CSS, de forma que cada cor hexadecimal ficou armazenada
nas variáveis --algumaCoisa */
:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

/* Reset */
html,
body {
  margin: 0;
  padding: 0;
}

/* inherit vai fazer com que ele pegue a cor de texto/fonte do pai (a cor seja igual à do pai) */
a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}
